GEMINI_BASE_URL=https://api.zhizengzeng.com/google/
GEMINI_API_KEY=
GEMINI_MODEL=gemini-3-pro-preview

MAX_INLINE_SIZE=20971520

DASHSCOPE_API_KEY=
DASHSCOPE_ASR_MODEL=fun-asr-realtime
DASHSCOPE_TIMEOUT=180
GEMINI_TIMEOUT=60

DOWNLOAD_READ_TIMEOUT=120
DOWNLOAD_MAX_SECONDS=180
DOWNLOAD_PREFER_FFMPEG=0
PREFER_LOW_QUALITY=1
VIDEO_RATIO=540p
TOP_COMMENTS_LIMIT=1

NOTION_TOKEN=
NOTION_DATABASE_ID=

PLAYWRIGHT_HEADLESS=1
PLAYWRIGHT_DEBUG=0
COOKIES_PROFILE=Default
PLAYWRIGHT_PROXY_SERVER=http://127.0.0.1:7890

HTTP_PROXY=http://127.0.0.1:7890
HTTPS_PROXY=http://127.0.0.1:7890
ALL_PROXY=http://127.0.0.1:7890
NO_PROXY=localhost,127.0.0.1,::1

DOUYIN_COOKIES_JSON_PATH=/home/ubuntu/selfmedia-tools/Part1/content-flow/private/douyin-cookies.json
XIAOHONGSHU_COOKIES_JSON_PATH=/home/ubuntu/selfmedia-tools/Part1/content-flow/private/xiaohongshu-cookies.json
